.header{
    color: rgb(160, 174, 189);
    text-decoration: none;
}

body{
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(Header-Logos/Background.png);
    height: 100%;
    background-repeat:repeat-y;
    background-position: center center;
    background-size: cover;
    color: rgb(160, 174, 189);
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    text-decoration: none;
}

.book-page-container {
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.book-details {
    background-image: url(Header-Logos/Backdrop.png);
    height: max-content;
    display: flex;
    gap: 20px;
}

.book-poster {
    width: 200px;
    height: 300px;
    padding: 30px;
}

.book-info {
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.book-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.book-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.reviews-section, .suggestions-section {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-image: url(Header-Logos/Backdrop.png);
    border-radius: 10px;
}

.reviews-filters {
    margin-bottom: 20px;
}

.reviews-filters button {
    background-image: url(Header-Logos/Backdrop.png);
    color: rgb(160, 174, 189);
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
}

.suggestions-section {
    padding: 20px;
    background-image: url(Header-Logos/Backdrop.png);
    border-radius: 10px;
}

#suggested-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

.suggestion {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.suggestion img {
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
}

.suggestion h3 {
    font-size: 2rem;
    margin-top: 10px;
    color: rgb(160, 174, 189);
}

.suggestion p {
    font-size: 1.5rem;
    color: #999;
}


.search-result-item {
    text-decoration: none;
    color: rgb(160, 174, 189);
    display: block;
    margin: 10px 0;
    background-image: url(Header-Logos/Backdrop.png);
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
}

.search-result-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: scale(1.02);
}

.search-result-item h4, 
.search-result-item p {
    margin: 5px 0;
    color: rgb(160, 174, 189);
    text-decoration: none;
}

.search-result-item img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 5px;
}