body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Header-Logos/Backdrop.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    color: rgb(160, 174, 189);
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}
.container {
    background-image: url(Header-Logos/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 350px;
}
h2 {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 40px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
}
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #060652;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-button:hover {
    background-color: #040440;
}
.register-link {
    margin-top: 10px;
    font-size: 14px;
}
.register-link a {
    text-decoration: none;
    color: #060652;
    font-weight: bold;
}