body{
    margin-top: 75px;
    margin-left: 80px;
    margin-right: 80px;
    background-image: url(Header-Logos/Background.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    color: rgb(160, 174, 189);
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}

.top-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.title-text{
    font-size: 40px;
    text-align: center;
}

.top-month-section,.top-rated-section{
    border-radius: 25px;
    background-image: url(Header-Logos/Backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.book {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); 
}

.book:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.search-result-item {
    text-decoration: none;
    color: rgb(160, 174, 189);  /* Same as your theme */
    display: block;
    margin: 10px 0;
    background-image: url(Header-Logos/Backdrop.png);
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
}

.search-result-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: scale(1.02);
}

.search-result-item h4, 
.search-result-item p {
    margin: 5px 0;
    color: rgb(160, 174, 189);
    text-decoration: none;
}

.search-result-item img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 5px;
}